// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/arial.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/baskerville-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Brush Script MT";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/brush-script-mt-italic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/calibri-7.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Cambria";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/cambria.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Candara";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/candara-4.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/century-gothic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Consolas.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Copperplate Gothic";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/copperplate-gothic-light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Courier New";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/courier-new.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Fantasy";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/finalf.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/century-gothic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Franklin Gothic";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/franklinGothic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Garamond";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/garamond.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Goudy Old Style";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/goudy-old-style.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/helvetica-1.otf");
  font-display: swap;
}
@font-face {
  font-family: "Impact";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/impact.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Lucida Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/lucida-sans-regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Monospace";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/monospace.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Perpetua";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/perpetua.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Rockwell";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/rockwell.otf");
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/segoe-ui.otf");
  font-display: swap;
}
@font-face {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/tahoma-3.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/times-new-roman-14.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/trebuchet-ms.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Verdana";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/verdana-4.ttf");
  font-display: swap;
}
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** principal **/
  --ion-color-principal: #5b0000;
  --ion-color-principal-rgb: 91,0,0;
  --ion-color-principal-contrast: #ffffff;
  --ion-color-principal-contrast-rgb: 255,255,255;
  --ion-color-principal-shade: #500000;
  --ion-color-principal-tint: #6b1a1a;

  /** whatsapp **/
  --ion-color-whatsapp: #00BB2D;
  --ion-color-whatsapp-rgb: 0,187,45;
  --ion-color-whatsapp-contrast: #ffffff;
  --ion-color-whatsapp-contrast-rgb: 255,255,255;
  --ion-color-whatsapp-shade: #00a528;
  --ion-color-whatsapp-tint: #1ac242;

  /** facebook **/
  --ion-color-facebook: #3B5998;
  --ion-color-facebook-rgb: 59,89,152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  /** ubicacion **/
  --ion-color-ubicacion: #CB3234;
  --ion-color-ubicacion-rgb: 203,50,52;
  --ion-color-ubicacion-contrast: #ffffff;
  --ion-color-ubicacion-contrast-rgb: 255,255,255;
  --ion-color-ubicacion-shade: #b32c2e;
  --ion-color-ubicacion-tint: #d04748;

  //** instagram **//
  --ion-color-instagram: #bc2a8d;
  --ion-color-instagram-rgb: 188,42,141;
  --ion-color-instagram-contrast: #ffffff;
  --ion-color-instagram-contrast-rgb: 255,255,255;
  --ion-color-instagram-shade: #a5257c;
  --ion-color-instagram-tint: #c33f98;

  //** phone **//
  --ion-color-phone: #2962ff;
  --ion-color-phone-rgb: 41,98,255;
  --ion-color-phone-contrast: #ffffff;
  --ion-color-phone-contrast-rgb: 255,255,255;
  --ion-color-phone-shade: #2456e0;
  --ion-color-phone-tint: #3e72ff;
}
.ion-color-principal {
  --ion-color-base: var(--ion-color-principal) !important;
  --ion-color-base-rgb: var(--ion-color-principal-rgb) !important;
  --ion-color-contrast: var(--ion-color-principal-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-principal-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-principal-shade) !important;
  --ion-color-tint: var(--ion-color-principal-tint) !important;
}
.ion-color-whatsapp {
  --ion-color-base: var(--ion-color-whatsapp);
  --ion-color-base-rgb: var(--ion-color-whatsapp-rgb);
  --ion-color-contrast: var(--ion-color-whatsapp-contrast);
  --ion-color-contrast-rgb: var(--ion-color-whatsapp-contrast-rgb);
  --ion-color-shade: var(--ion-color-whatsapp-shade);
  --ion-color-tint: var(--ion-color-whatsapp-tint);
}
.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook);
  --ion-color-base-rgb: var(--ion-color-facebook-rgb);
  --ion-color-contrast: var(--ion-color-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint);
}
.ion-color-ubicacion {
  --ion-color-base: var(--ion-color-ubicacion);
  --ion-color-base-rgb: var(--ion-color-ubicacion-rgb);
  --ion-color-contrast: var(--ion-color-ubicacion-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ubicacion-contrast-rgb);
  --ion-color-shade: var(--ion-color-ubicacion-shade);
  --ion-color-tint: var(--ion-color-ubicacion-tint);
}
.ion-color-instagram {
  --ion-color-base: var(--ion-color-instagram);
  --ion-color-base-rgb: var(--ion-color-instagram-rgb);
  --ion-color-contrast: var(--ion-color-instagram-contrast);
  --ion-color-contrast-rgb: var(--ion-color-instagram-contrast-rgb);
  --ion-color-shade: var(--ion-color-instagram-shade);
  --ion-color-tint: var(--ion-color-instagram-tint);
}
.ion-color-phone {
  --ion-color-base: var(--ion-color-phone);
  --ion-color-base-rgb: var(--ion-color-phone-rgb);
  --ion-color-contrast: var(--ion-color-phone-contrast);
  --ion-color-contrast-rgb: var(--ion-color-phone-contrast-rgb);
  --ion-color-shade: var(--ion-color-phone-shade);
  --ion-color-tint: var(--ion-color-phone-tint);
}


